<h3><a href="/auth/login">Go to Login</a></h3>


<h1 style="text-align:center">Sign Up</h1>
<div class="container col-xs-4 col-xs-offset-4">
  <form action="/auth/signup" method="post">
    <div class="form-group">
      <label for="">Enter First Name</label>
      <input class = "form-control" type="text" name="fname" value="" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="">Enter Last Name</label>
      <input class = "form-control" type="text" name="lname" value="" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="">Enter Email Address</label>
      <input class = "form-control" type="text" name="email" value="" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="">Choose Username</label>
      <input class = "form-control" type="text" name="username" value="" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="">Choose Password</label>
      <input class="form-control" type="password" name="password" value="" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="">Repeat Password</label>
      <input class="form-control" type="password" name="passwordRepeat" value="" placeholder="Password">
    </div>
    <div >
      <h3 class="text-center">Check Your Preferences</h3>
      <div class="well" style="max-height: 300px;overflow: auto;">
        <ul class="list-group checked-list-box">
        {{#each tags}}
        <li class="list-group-item"><input type="checkbox" name="tags" value={{this}} />{{this}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
    <input class="form-control" type="submit" name="" value="Register">
  </form>
</div>
