.newPost {
    padding: 1%;
    background-color: #a67759;
    width: 25%;
    margin-left: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: #a67759;
    box-shadow: 0 1px 1px 1px #c9c9c9;
    border-radius: 3px;
}
.uploadButtonIcon {
    font-size: 30px !important;
} 

.attachFileIcon:hover {
    color: greenyellow !important;
}

.Feed_Wrapper {
  flex: 5;
  background-color: #313D4D;
}

.newPostFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fileUpload {
    display: flex;
    align-items: center;
    margin-top: 0.6vw;
}

.newPostTagsPref {
    height: 15vw;
}

.tagItemLabel {
    background-color: #B3805C;
    margin-left: 3%;
    border-radius: 4px 3px 4px 3px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
}

#choice_form {
    margin-bottom: 14px;
}

