.newPost {
    padding: 1%;
    background-color: #F1F1EF;
    width: 400px;
    margin-top: 30px;
    border-radius: 3px;
}
.uploadButtonIcon {
    font-size: 30px !important;
} 

.attachFileIcon:hover {
    color: #0082B0 !important;
}

.attachFileIcon {
    color: #837F8A !important;
}

.Feed_Wrapper {
  flex: 5;
  background-color: #313D4D;
}

.newPostFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fileUpload {
    display: flex;
    align-items: center;
    margin-top: 0.6vw;
    margin-left: 1%;
}

.newPostTagsPref {
    height: 15vw;
}

.tagItemLabel {
    background-color: #B3805C;
    margin-left: 3%;
    border-radius: 4px 3px 4px 3px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
}

#choice_form {
    margin-bottom: 14px;
}

.newPost_Container {
    display: flex;
    justify-content: center;    
}

.newPostContent {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    border-style: solid;
    border-width: 8px;
    border-color: #a67759;
    border-radius: 3px;
}

#textarea1 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    height: 100px;
}

#newPostHeader {
    color: #837F8A;
}

#addingTags {
    display: flex;
    justify-content: space-between;
}

.searchTags {
    width: 300px    
}

#addTagButton {
    margin-right: 5px;
}

#tagPrefTitleHash {
    color: #0082B0;
    margin-top: 12px;
}

#tagHash {
    color: #0082B0;
}

#tag {
    background-color: #B3805C;
    margin-left: 3%;
    border-radius: 4px 3px 4px 3px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
}

#tagPrefTitleDiv {
    display: flex;
    width: 100%;
}

#tagPrefTitle {
    color: #837F8A;    
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.choiceForm {
    margin-bottom: 14px;
}
