.newPost {
    padding: 2%;
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.uploadButtonIcon {
    font-size: 30px !important;
} 

.attachFileIcon:hover {
    color: #0082B0 !important;
}

.attachFileIcon {
    color: #837F8A !important;
}

.Feed_Wrapper {
    flex: 5;
    background-color: #FAFAFA;
    margin-left: 107px;
}

.newPostFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fileUpload {

}

.createButton {
    color: #5bc0e3 !important;
    background-color: #fff !important;
}

.createButton:hover {
    background-color: #fff !important;
}

.wholeCreateButton {
    background-color: #fff !important;
}

.tagItemLabel {
    background-color: #B3805C;
    margin-left: 3%;
    border-radius: 4px 3px 4px 3px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
}

#choice_form {
    margin-bottom: 14px;
}


.newPost_Container {
    height: 310px;
    width: 210px;
    display: flex;
    justify-content: center;    
}

.newPostContent {
    display: flex;
    justify-content: center;
}

#textarea1 {
    width: 100%;
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    border: none !important;
}

#newPostHeader {
    color: #314460;
}

#addingTags {
    display: flex;
    justify-content: space-between;
}

.searchTags {
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
}

#addTagButton {
    margin-right: 5px;
}

#tagPrefTitleHash {
    color: #4CC1FC;
    margin-top: 12px;
}

#tagHash {
    color: #0082B0;
}

#tag {
    background-color: #97ABA9;
    margin-left: 3%;
    border-radius: 27px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 5px;
}

#tagPrefTitleDiv {
    display: flex;
    width: 100%;
}

#tagPrefTitle {
    color: #B3805C;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.choiceForm {
    margin-bottom: 14px;
}
.discoverButton {
    color: #4CC1FC;
}

.prev {
    color: black;
}

body ::-webkit-scrollbar-thumb {
    background: none;
}

.deMofoSaviour {
    width: 513px;
    height: 612px;
    position: absolute;
    pointer-events: none;
}

.banterScroller {
    position: relative;
}

#newConversationButton {
    background-color: #5bc0e3;
    color: #FAFAFA;
}

.feedTop {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#discoverLine {
    width: 112px;
}

#conversationHeader {
    padding-bottom: 0px !important;
}

.newConversationOuter {
    clear: both !important;
    padding-top: 0px !important;
}

#choice_form {
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

.cancelButton {
    float: right !important;
    margin-bottom: 10px !important;
    margin-left: 300px !important;
}

.newConvHeader {
    color: #fff;
}

.newPostForm {
    width: 100%;
}

.topicSelector {
    display: inline-flex;
    width: 100%;
}

.addTopics {
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 0;
    align-self: center;
}

.newPostTagsPref {
    margin-top: 10px;
}

.topics {
    display: inline-flex;
}

.topic {
    margin-right: 10px;
}

.topicRemove {
    cursor: pointer;
}