
.ui.card.Card {
    margin: 5px 0 5px 0;
    box-shadow: 0 1px 1px 1px #c9c9c9;
    height:70px;
    width: 100%;
    border-radius: 3px;
}

.hr {
    width: 80%;
}

.Meta {
    line-height: 1.2em;
    font-size: 12px;
}

.Deck {
    height: 610px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 320px;
    max-width: 340px;
    overflow: auto;
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px #c9c9c9;
}

.ProfileContainer {
    flex: 2;
    margin-right: 50px;
    height: 610px;
    min-width: 700px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px #c9c9c9;
}

.Page {
    height: 640px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}