
#navBar {
    display: flex;
    height: 57px;
    background-color: #303C4D;
}

.logoHolder {
    left: 6%;
    position: absolute;
}

.logo {
    color: #a67759;
    font-size: 42px;
}

.tabs {
    color: #1b1c1d;
}

.Container {
    height: 100%;
    color: #F1F1EF;
}

.navBarLinks {
    display: flex;
    justify-content: space-between;
    width: 200px;
    left: 40%;
    right: 60%;
    position: absolute;
    margin-top: 10px;;
    color: #F1F1EF;
}

.navBarLinksRight {
    right: 0.5%;
    left: auto;
    position: absolute;
    color: #F1F1EF;
}

.navBarHome {
    left: 10px;
    right: auto;
    position: absolute;
    margin-top: 13px;
    color: #F1F1EF;
}

.bar {
    background-color: #B48059;
    width: 40px;
    height: 6px;
    border-radius: 50px;
    margin-top: 0.4vw;
  }

.communityNavBarLogo {
    display: flex;
    margin-left: 80px;
}

.communityImage {
    width:30px;
    height: 30px;
    margin-top: 10px;
}

.communityTitle {
    margin-left: 10px;
    margin-top: 10px;
    color: #F1F1EF;
}

.navBarLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBarIcon {
    color: #F1F1EF;
}