
#navBar {
    display: flex;
    height: 57px;
    background-color: #303C4D;
}

.logoHolder {
    left: 6%;
    position: absolute;
}

.logo {
    color: #a67759;
    font-size: 42px;
}

.tabs {
    color: #1b1c1d;
}

.Container {
    height: 100%;
    color: #F1F1EF;
}

.navBarLinks {
    display: flex;
    justify-content: space-between;
    width: 200px;
    left: 40%;
    right: 60%;
    position: absolute;
    margin-top: 10px;
    color: #F1F1EF;
}

.navBarLinksRight {
    right: 0.5%;
    display: flex;
    margin-right: 10px;
    left: auto;
    position: absolute;
    color: #F1F1EF;
}

.navBarHome {
    left: 10px;
    right: auto;
    position: absolute;
    margin-top: 13px;
    color: #F1F1EF;
}

.bar {
    background-color: #B48059;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-top: 0.4vw;
  }

.communityNavBarLogo {
    display: flex;
    margin-left: 80px;
}

.communityImage {
    width:30px;
    height: 30px;
    margin-top: 10px;
}

.communityTitle {
    margin-left: 10px;
    margin-top: 10px;
    color: #F1F1EF;
}

.navBarLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navBarIcon {
    color: #F1F1EF !important;
}


.imageWrapper {
    margin-left: 10px;
    margin-top: 10px;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.postUserImage {
    max-width: 110%;
    max-height: auto;
    object-fit: contain;
    margin: auto;
}

.logoutText {
    margin-top: 10px;
}

.profilePopoutOuter {
    position: fixed;
    background: #F1F1EF;
    top: 60px;
    right: 1%;
    z-index: 3;
    border-radius: 4px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    position: fixed;
    right: 1.5%;
    margin-top: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #F1F1EF;
}

.profilePopeoutHeader {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.profilePopoutOuterMost {
    position: absolute;
    top: 60px;
    left: -100vw;
    width: 150vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0,0,0,0.8);
}

.ui.dropdown {
    margin-top: 15px;
}

.ui.dropdown > .text {
    font-size: 20px;
}