
#navBar {
    display: flex;
    height: 43px;
    background-color: #FAFAFA;
    border-bottom: solid 1px #B3B5C1;
    box-shadow: 0 1px 1px #b3b5c1;
}

.logoHolder {
    left: 6%;
    position: absolute;
}

.logo {
    color: #a67759;
    font-size: 42px;
}

.tabs {
    color: #1b1c1d;
}

.Container {
    height: 100%;
    color: #F1F1EF;
}

.navBarLinks {
    display: flex;
    justify-content: space-between;
    width: 300px;
    left: 37%;
    right: auto;
    position: absolute;
    margin-top: 7px;
    color: #F1F1EF;
}

.navBarLinksRight {
    right: 0.5%;
    display: flex;
    margin-right: 10px;
    left: auto;
    position: absolute;
    color: #F1F1EF;
}

.navBarHome {
    left: 10px;
    right: auto;
    position: absolute;
    color: #3a3a3a;
}

.bar {
    background-color: #B48059;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-top: 0.4vw;
  }

.communityNavBarLogo {
    display: flex;
    margin-left: 80px;
}

.communityImage {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.communityTitle {
    margin-left: 10px;
    color: #3A3A3A;
    margin-top: 15px;
}

.navBarLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbarLinkOn {
    font-weight: bold;
    margin-bottom: 9px;
    color: #5bc0e3 !important;
    background-color: #FAFAFA !important;
    padding-top: 2px !important;
}

.navbarLinkOff {
    color: #3A3A3A;
    background-color: #FAFAFA !important;
    padding-top: 8px !important;
    font-weight: bold;
    padding-bottom: 8px !important;
}

.imageWrapper {
    margin-left: 10px;
    margin-top: 10px;
    background-color: red;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.postUserImage {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    margin: auto;
}

.logoutText {
    margin-top: 10px;
}

.profilePopoutOuter {
    position: fixed;
    background: #F1F1EF;
    top: 60px;
    right: 1%;
    z-index: 3;
    border-radius: 4px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    position: fixed;
    right: 1.5%;
    margin-top: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #F1F1EF;
}

.profilePopeoutHeader {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.profilePopoutOuterMost {
    position: absolute;
    top: 60px;
    left: -100vw;
    width: 150vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0,0,0,0.8);
}

.ui.dropdown {
    margin-top: 15px;
}

.ui.dropdown > .text {
    font-size: 20px;
}


.communityCard {
    margin: 20px 40px 20px 40px !important;
    width: 220px !important;
    height: auto !important;

    box-shadow: none !important;
}

.communityCardImage {
    object-fit: cover !important;
    height: 210px;
}

.communitiesContainer {
    display: flex;
    overflow: auto;

}

.walnutContainer {
    display: flex;
    flex-direction: column;
    background-color: #EEEEF3;
}

.communityCardContent {
    padding: 10px !important;
}

.Heading {
    color: #313D4D;
    padding: 20px 20px 10px 20px;
}

.subHead {
    padding: 0px 20px 0px 35px;
    color: #313D4D;
}

.modalTrigger {
    float: right;
    margin-right: 50px !important;
}

.hashtag.icon {
    color: #4CC1FC;
}

.addButton {
    margin-left: 15px !important;
}

.joinButton {
    float: right;
}

.titleInput {
    margin-bottom: 15px;
}

.stickyDiv {
    display: flex;
}

.imageWrapperCommunity {
    margin-left: 10px;
    margin-top: 7px;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    overflow: hidden;
}

.communityImage {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    margin: auto;
}

.imageWrapperNav {
    margin-left: 10px;
    margin-top: 6px;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.profileDropdown {
    margin-top: 11px !important;
    color: #313D4D;
}

.bottomBar {
    background-color: #5bc0e3;
    height: 5px;
    padding-bottom: 5px;
}

.navbarLinkOff:hover {
    color: #5bc0e3 !important;
}

.communityImgUpload {
    height: 105px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}

button.ui.button > input {
    display: inline !important;
}

.modalEditTrigger {
    position: absolute !important;
    top: 50px !important;
    margin-left: 80px !important;
}

.adminFname {
    color: white !important;
}
