.mediaAttachment {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.lightBoxImage {
    width: 700px;
}

.mediaPDFAttachment {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    justify-content: flex-start;
}

.pdfThumbOut {
    width: 100%;
}

.pdfModalFooter {
    display: flex;
    justify-content: center;
}

.mediaVideoAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.video-react-controls-enabled {
    padding-top: 60% !important;
}

.video-react-big-play-button {
    top: 50% !important;
    left: 50% !important;
}

.big-play-button-hide {
    display: none !important;
}

.pdfCard {
    width: 50% !important;
    text-align: center;
}

.mediaDownloadAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.downloadButton{
    position: absolute;
    right: 10px;
    top: 23px;    
    color: darkblue;
} 


.downloadButton:hover {
    position: absolute;
    right: 10px;
    top: 23px;
    color: darkblue;
} 

.downloadButtonPDF {
    position: absolute;
    right: 10px;
}

.downloadButtonPDF {
    position: absolute;
    right: 10px;
}

.pdfIcons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.viewButtonPDF {
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.downloadCard {
    width: 400px !important;
    flex-direction: row !important;
    padding: 1% !important;
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.95);
}

.downloadConfirm:hover {
    color: blue;
}

.downloadCancel:hover {
    color: red;
}

.downloadConfirm {
    color: whitesmoke;
}

.downloadCancel {
    color: whitesmoke;
}

.tagContainer {
    margin-left: 10px;
    width: 400px;
}

.tag {
    background-color: #5bc0e3;
    border-radius: 27px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.hashtag {
    color: #FAFAFA;
    font-size: 12px;
    line-height: 19px;
}

.scrollContentClass {
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 5px !important;
}


#inputBoxHolder {
    display: flex;
}

#commentInput {
    flex: 10;
}

#commentSubmit {
    flex: 1;
}

.walnutLogo {
    margin-left: auto;
    margin-right: auto;
}

.postOuter {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 3px;
    width: 513.67px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
}

.postContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.postUser {
    display: flex;
    flex-direction: row;
}

.imageWrapperPost {
    margin-left: 10px;
    margin-top: 6px;
    min-width: 32px;
    min-height: 32px;
    max-height: 32px;
    max-width: 32px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.postUserImage {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    margin: auto;
}

.postHeader {
    width: 100%;
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 10px;
    border-color: black;
}

.postHeaderUser {
    align-self: baseline;
    height: 19px;	
    width: 263.6px;	
    color: #3a3a3a;
    font-family: Avenir Next;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 19px;
    margin-left: -5px;
    margin-bottom: 15px !important;
}

.postInnerContent {
    overflow: hidden;
    width: 480.83px;	
    color: #4A4A4A;	
    font-family: Avenir Next;	
    font-size: 16px;
    line-height: 25px;
    margin-left: 3%;
    margin-bottom: 15px;
}

.postFootnote {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    overflow: hidden;
}

.commentIcon {
    cursor: pointer;
    color: #3a3a3a !important;
}

.commentNum {
    color: #4CC1FC;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 3px;
    font-weight: bold;
}


.commentNumUn {
    color: #bc3e3e;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 3px;
    font-weight: bold;
}

.userNum {
    margin-right: 3px;
    margin-top: 4px;
    color: #4CC1FC;
}

.commentDiv {
    font-size: smaller;
    margin-left: 40px;
    margin-left: 53px;
    color: #313D4D !important;
    display: flex;
    margin-right: 10px;
}

.postDescription {
    margin-bottom: 5px;
}

.downloadFileName { 
    color: #DADDD8;
    font-size: 14px;
    word-break: break-word;
    width: 268px;
}

.downloadFileIcon {
    color: #DADDD8
}

.ui.card.commentCardOther {
    background-color: #C0BFC4;
    box-shadow: none;
    margin: 0 10px 5px 5px;
    clear:both;
    width: auto;
    max-width: 270px;
    border-radius: 16px;
}

.messageGroupOther {
    float: left;
    margin-right: 300px;
}

.messageGroupYou {
    float: right;
    margin-left: 300px;
}

.ui.card.commentCardYou {
    background-color: #4CC1FC;
    box-shadow: none;
    margin:0 10px 5px 10px;
    clear: both;
    width: auto;
    max-width: 270px;
    border-radius: 16px;
}

.messageContent {
    padding: 5px 9px 5px 9px !important;
}

.messageNameYou {
    float:right;
    padding-right: 20px;
    color: #9e9e9e;
}

.messageNameOther {
    float:left;
    padding-left: 20px;
    color: #9e9e9e;
}


.messageAvatarYou {
}

.imageWrapper.messageAvatarOther {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 8px;
    background-color: red;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    align-self: flex-end;
    margin-bottom: 5px;
}

.linkPreview {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.linkPreviewWrapper{
     width: 100%
}

.lineLeft {
    height: 200px;
    width: 6px;
    background-color: #3E719F;
    border-radius: 100px;
    height: 297px;
    margin-left: 10px;
}

.linkPrev {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
}

.linkImage {

}

.linkPub {
    margin-bottom: 0;
}

.linkTitle {
    margin: 0
}

.linkImg {
    overflow: hidden;
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    object-position: 0 0;
}

body ::-webkit-scrollbar-track {
    background-color: inherit;
}

.userGroupYou {
    clear: both;
    display: inline-flex;
}

.userGroupOther {
    clear: both;
    display: inline-flex;
}

iframe {
    width: 100%
}

.inModalUsers {
    margin-left: 20px;
}

.modalHeader {
    display: -webkit-inline-box !important;
}

#messageInput{
    border-color: transparent!important;
    background-color: transparent!important;
    padding: 0!important;
    box-shadow: none!important;
    border-radius: 0!important;
    color: rgba(255,255,255,.9);
}

.previewPdf {
    height: 59px;
    width: 56px;
    background-color: #98C1D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
}

.pdfClickMe {
    margin-left: 8px;
}

.pdfClickMeText {
    color: white;
}

#mediaIcon {
    color: red;
}

.joinConversation {
    margin-left: 210px;
}

.joinButton {
    
}

.typersContainer {
    padding: 4px !important;
    display: inline-flex !important;
    min-height: 47px;
}

.typerGroup {
    display: inline-flex;
}

.typingIcon {
    padding-top: 12px !important;
    padding-left: 5px !important;
}

.typingImage {
    margin: 0 !important;
}

.modalActions {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.textBoxForm {
    border: 1px rgba(255,255,255,.9);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.popupAvatar {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.membersPopup {
    max-width: 300px !important;
    max-height: 100px !important;
    overflow-x: auto !important;
}

.unfollowText {
    margin-right: 21px;
}

.postImage {
    width: 100% !important;
    object-fit: cover !important;
    height: auto !important;
}

.postDivider {
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.usersIcon {
    cursor: pointer;
    color: #3a3a3a;
}
