.mediaAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
}

.lightBoxImage {
    width: 700px;
}

.mediaPDFAttachment {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    justify-content: flex-start;
}

.pdfThumbOut {
    width: 100%;
}

.pdfModalFooter {
    display: flex;
    justify-content: center;
}

.mediaVideoAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.video-react-controls-enabled {
    padding-top: 60% !important;
}

.video-react-big-play-button {
    top: 50% !important;
    left: 50% !important;
}

.big-play-button-hide {
    display: none !important;
}

.pdfCard {
    width: 50% !important;
    text-align: center;
}

.mediaDownloadAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

 .downloadButton{
    position: absolute;
    right: 10px;
    top: 23px;    
    color: darkblue;
} 


 .downloadButton:hover {
    position: absolute;
    right: 10px;
    top: 23px;
    color: darkblue;
} 

.downloadCard {
    width: 400px !important;
    flex-direction: row !important;
    padding: 1% !important;
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.95);
}

.downloadConfirm:hover {
    color: blue;
}

.downloadCancel:hover {
    color: red;
}

.downloadConfirm {
    color: whitesmoke;
}

.downloadCancel {
    color: whitesmoke;
}

.tagContainer {
    margin-left: 10px;
    width: 400px;
}

.tag {
    background-color: #B3805C;
    border-radius: 4px 3px 4px 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    margin-right: 5px;
}

.hashtag {
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
}

.scrollContentClass {
    display: flex !important;
    flex-direction: column !important;
}


#inputBoxHolder {
    display: flex;
}

#commentInput {
    flex: 10;
}

#commentSubmit {
    flex: 1;
}

.walnutLogo {
    margin-left: auto;
    margin-right: auto;
}

.postOuter {
    background-color: #F1F1EF;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 3px;
    width: 513.67px;
}

.postContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.postUser {
    display: flex;
    flex-direction: row;
}

.imageWrapper {
    margin-left: 10px;
    margin-top: 10px;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.postUserImage {
    max-width: 110%;
    max-height: auto;
    object-fit: contain;
    margin: auto;
}

.postHeader {
    width: 100%;
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 10px;
    border-color: black;
}

.postHeaderUser {
    height: 19px;	
    width: 263.6px;	
    color: #232425;	
    font-family: Avenir Next;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 19px;
    margin-left: -5px;
    margin-bottom: 15px !important;
}

.postInnerContent {
    width: 480.83px;	
    color: #4A4A4A;	
    font-family: Avenir Next;	
    font-size: 18px;	
    line-height: 25px;
    margin-left: 3%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.postFootnote {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

.commentIcon {
    color: #313D4D !important;
}

.commentNum {
    font-size: 12px;
    color: red;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 3px;
    font-weight: bold;
}

.userNum {
    margin-right: 8px;
    margin-top: 4px;
}

.commentDiv {
    margin-left: 40px;
    margin-left: 53px;
    color: #313D4D !important;
    display: flex;
}

.postDescription {
    margin-bottom: 5px;
}

.downloadFileName { 
    color: #DADDD8;
    font-size: 14px;
}

.downloadFileIcon {
    color: #DADDD8
}

.ui.card.commentCardOther {
    background-color: #C0BFC4;
    box-shadow: none;
    margin: 0 10px 10px 5px;
    clear:both;
    width: auto;
    max-width: 270px;
    border-radius: 16px;
}

.messageGroupOther {
    float: left;
    margin-right: 300px;
}

.messageGroupYou {
    float: right;
    margin-left: 300px;
}

.ui.card.commentCardYou {
    background-color: #4CC1FC;
    box-shadow: none;
    margin:0 10px 10px 10px;
    clear: both;
    width: auto;
    max-width: 270px;
    border-radius: 16px;
}

.messageNameYou {
    float:right;
    padding-right: 20px;
    color: #9e9e9e;
}

.messageNameOther {
    float:left;
    padding-left: 20px;
    color: #9e9e9e;
}


.messageAvatarYou {
}

.messageAvatarOther {
    align-self: flex-end;
    margin-bottom: 5px;
}

.linkPreview {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.linkPreviewWrapper{
     width: 100%
}


.linkImage {
    display: flex;
    justify-content: center; 
    height: 200px;
}

.linkPub {
    margin-bottom: 0;
}

.linkTitle {
    margin: 0
}

.linkImg {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

body ::-webkit-scrollbar-track {
    background-color: inherit;
}

.userGroupYou {
    clear: both;
    display: inline-flex;
}

.userGroupOther {
    clear: both;
    display: inline-flex;
}

iframe {
    width: 100%
}