#Discover {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #313D4D;
}

.RightSideBar_Container {
  flex: 4;
  margin-left: 10px;
}

.LeftSidebar_Container {
  flex: 3;
}

.discoverTitleBox {
  margin-left: 20px;
}

.discoverTitle {
  font-family: Avenir Next;
  margin-right: 20px;
  font-size: 20px;
  line-height: 41px;
  margin-bottom: 0px;
}

.discoverTitleLine {
  width: 200px;
  height: 2px;
  background-color: #F1F1EF;
  margin-bottom: 10px;
}

.discoverImage {
  width: 102px;
  height: 108px;
}

.LeftSideBar_Preference {
  margin-left: 20px;
  background-color: #F1F1EF;
  padding-top: 6px;
  padding-bottom: 2px;
  margin-top: 20px;
  border-radius: 4px;
  margin-right: 10px;
  width: 250px;
}

.outeritem {
  font-family: Avenir Next;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  width: 200px;
  color: #314460;
  margin-left: 10px;
  margin-top: 6px !important;
}

.rightButtons {
    display: flex;
    justify-content: center;
}

.rightModalButtonPlus {    
  margin-right: 50px !important;
  background-color: #98C1D9 !important;
  color: #F1F1EF !important;
}

.rightModalButtonChat {    
  margin-right: 50px !important;
  background-color: #DADDD8 !important;
  color: #314460 !important;
}

.myConversationBox {
  background-color: red;
}

.conversationCardWrapper {
    margin-left: 0px;
    margin-top: 0px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.conversationCardUserImage {
    max-width: 110%;
    max-height: auto;
    object-fit: contain;
    margin: auto;
}

.conversationCardContent {
  padding: 6px !important;
}

.conversationCardHeader {
  display: flex;
  margin-bottom: 5px;
}

.conversationCardHeaderUser {
    margin-left: 6px;
    font-size: 11px;
    margin-top: 4px;
}

.conversationCardBody {
    font-size: 10px;
    margin: 10px;
}