.directoryCardsList {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 950px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: auto;
    height: 85vh;
}

.Container {
    background-color: #313D4D;
    overflow-x: scroll;
}

.directoryCard.ui.card {
    margin: 40px;
    width: 220px;
    height: auto;
    /*box-shadow: none;*/
}

.cardImage.ui.image {
    height: 160px;
}

.directoryHeader {
    font-size: 16px;
}

.directoryMeta.meta {
    padding: 2.5px;
    font-size: 12px;
    line-height: 13px;
}

body ::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 0;
}

.banterScroller {
    position: relative;
}

.search {
    width: 50vw;
    margin: auto;
    overflow: hidden;
    margin-top: 27px;
}

.ui.card.directoryCard {
    height: 310px;
    width: 220px;
    margin-left: 50px;
    box-shadow: none;
}

.infoSpan {
    margin-top: 5px;
    display: block;
}

.directoryMeta.meta {
    margin-top: 5px;
}

.directoryMeta.meta .icon{
    margin-right: 4px !important;
}

.extra.content {
    padding: 0.2em;
}

.cardImage {
    object-fit: cover !important;
}

