.mapContainer {
  height: 100%;
}

.map {
  height: 92vh;
  width: 80vw;
}

#outer {
  display: flex;
  flex-direction: row;
  height: 92vh
}

#inner {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 1%;
}

.marker {
  color: #37d67a;
  font-size: 40px;
}

.cluster {
  color: #ff6f00;
}

.zoom {
  margin-top: 5%;
  margin-right: 1%;
}


.my-autocomplete-container {
  position: fixed;
  z-index: 2;
  width: 20vw;
}

.outerfilterall  {
  margin-top: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.filter {
  border-width: 1;
  height: 10vh;
}

.filterOuter {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.mapImage {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
}

#scrollbar {
  height: 80vh;
  width: 20vw;
}

.zoomControl {
  right: 5%;
}
#PlacesAutocomplete__root {
  height: 36px;
}
#PlacesAutocomplete__root input {
  border-radius: 5px;
}

#PlacesAutocomplete__root input::placeholder {
  font-family: 'Lato';
  color: '#aaa';
}

.mapWrapper {
  position: absolute !important;
  z-index: 9 !important;
  top: 70px !important;
  right: 5% !important;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background-color: white;
}
i.icon.map {
  font-size: 20px;
  color: black;
  margin: 2px 1px 2px 1px;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconSelectorWrapper1 {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #B48059;
}

.iconSelectorWrapper2 {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #97ABA9;
}

i.clock.icon {
  font-size: 25px;
  padding: 9px;
  padding-top: 10px;
}

i.university.icon {
  font-size: 20px;
  padding: 8px;
  padding-left: 9px;
}

i.home.icon {
  font-size: 25px;
  padding-left: 8px;
  padding-top: 10px;
}

button.ui.positive.button, button.ui.positive.button:focus  {
  background-color: #B48059;
}

button.ui.positive.button:hover {
  background-color: #8B5C38;
}

button.ui.button {
  background-color: #97ABA9;
}

.mapSelector .Select-placeholder {
  background: #313D4D;
  border-width: 0px;
}

.mapSelector .Select-control {
  border-width: 0px;
  border-bottom-width: 1px;
}

.mapSelector .Select.Select--single.is-clearable.is-focused.is-searchable {
  border-width: 0px !important; 
  border-bottom-width: 1px !important;
}

#PlacesAutocomplete__root input {
  background: #313D4D;
  border-radius: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
}

#PlacesAutocomplete__root ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}

.headerOuter {
  display: flex;
  flex-direction: row;
}

.cardOuter {
  margin-top: 0px !important;
}

.ui.card.cardOuter.clicked > .content {
  background: #97ABA9 !important;
}