.mapContainer {
  height: 100%;
}

.map {
  height: 92vh;
  width: 80vw;
}

#outer {
  display: flex;
  flex-direction: row;
  height: 92vh
}

#inner {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 1%;
}

.marker {
  color: #37d67a;
  font-size: 40px;
}

.cluster {
  color: #ff6f00;
}

.zoom {
  margin-top: 5%;
  margin-right: 1%;
}


.my-autocomplete-container {
  position: fixed;
  z-index: 2;
  width: 20vw;
}

.outerfilterall  {
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.filter {
  border-width: 1;
  height: 10vh;
}

.filterOuter {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.mapImage {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
}

#scrollbar {
  height: 80vh;
  width: 20vw;
}

.clicked {
  background: orange;
}

.zoomControl {
  right: 5%;
}
#PlacesAutocomplete__root {
  height: 36px;
}
#PlacesAutocomplete__root input {
  border-radius: 5px;
}

#PlacesAutocomplete__root input::placeholder {
  font-family: 'Lato';
  color: '#aaa';
}

.mapWrapper {
  position: absolute !important;
  z-index: 9 !important;
  top: 70px !important;
  right: 5% !important;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background-color: white;
}
i.icon.map {
  font-size: 20px;
  color: 'white';
  margin: 2px 1px 2px 1px;
}
/* .mapboxgl-canvas {
  height: calc(100vh - 58.12px);
} */

/*
.image {
  width: 15%;
  height: 15%;
}

.listOuter {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  margin-bottom: 10px;
} 

disc {
  display: flex;
  flex-direction: column;
}

.outerpopup {
  border: 1px;
}

.icon {
  width: 34.6px;
  margin-left: auto;
  margin-right: auto;
}

*/