.editPage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}

.editCard {
    background-color: #DADDD8;
    padding: 20px;
    border-radius: 5px;
}

#graduation .text {
    font-size: 14px !important;
}

.six.wide.field > .ui.dropdown {
    margin-top: 0px;
}

#PlacesAutocomplete__root input {
    background-color: white;
    border-radius: .28571429rem;
}

.editProfilePic {
    background-color: #DADDD8;
    padding: 20px;
    border-radius: 5px;
}

.profilePicBox {
    width: 150px;
    height: 160px;
}