.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content--after-open {
    position: absolute !important;
    top: 8vw !important;
    left: 10vw !important;
    right: 10vw !important;
    bottom: 1vw !important;
    overflow: auto !important;
    border-radius: 4px !important;
    outline: none !important;
    padding: 20px !important;
}

.close-modal {
    float: right;
}

.portfolioBox {
    width: 65%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
}

.tab-links {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
}

.pdfViewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.files {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7vw;
    width: 1.7vw !important;
}

.picThumb {
    width: 30px;
    margin-left: 1%;
}

.download {
    float: right;
}

.portfolioCard {
    width: 100% !important;
}

.settingsUploads {
    display: flex;
    justify-content: flex-end;
}

.addFile {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.fileContainer {
    width: 30% !important;
}

.fileName {
    margin-left: 3% !important;
}